<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CheckCarActivity" />
        <activity android:name=".RescueLoginActivity" />
        <activity android:name=".RescueMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FriendActivity" />
        <activity android:name=".MyLocation" />
        <activity android:name=".PlusProtectedActivity" />
        <activity android:name=".PlusProtectorActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".UserMainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserLoginActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="kcn1kedf9a" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>